*{
    margin:0;
    padding:0;
}





.nav-item{
    transition-duration: 0.5s;
}
.nav-item:hover{
   box-shadow: 0 2px 5px black;
   transform: translate(0, -2px);
}
#base_img{
    height:50px;
    width: 50px;
    margin: 10px 10px;
}



footer{
    background-color:#192F60;
}